h3:hover{
    color:blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li:first-child{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#8a3c2b;
    
}
li:nth-child(2){
    font-family:'Montserrat';
    color:#689F38;
}
li:nth-child(3){
    font-family:'Raleway';
    color:#EF5350;
}
section p:nth-of-type(1){
    color: #999;
}

section p{
    font-size: 26px;
}
section p:last-child{
    font-size:initial;
}
section p:nth-child(even){
    color: #0277bd;
}
footer{
    text-align: center;
}
button{
    border: 2px solid cornflowerblue;
    padding:20px 50px;
    background-image: linear-gradient(to bottom right, rgb(181, 103, 212), rgb(45, 0, 206));
    color: white;
}
button:hover{
    font-size: 50px;
    background-image: linear-gradient(to bottom right, rgb(45, 0, 206), rgb(181, 103, 212));
    color: black;
}
button:active{
    background-image: linear-gradient(to bottom right, rgb(214, 197, 42), rgb(181, 103, 212));
}
